<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/main.css">
<title>Login</title>

<%- include("./partials/headers/navbar.ejs") %>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 ">
            <div class="card p-3 shadow-lg my-3 mx-auto">
                <div class="card-body">
                    <h2 class="card-title text-center font-weight-light">Login</h2>

                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg rounded-pill mt-4" type="text" name="username"
                                id="loginUsername" placeholder="Username">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg rounded-pill mt-3" type="password" name="password"
                                id="loginPassword" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary w-100 my-2 rounded-pill"
                            id="loginButton">Login</button>
                    </form>

                    <hr>

                    <a href="/signup" class="btn btn-lg btn-danger w-100 rounded-pill my-2" id="signupButton">Sign
                        Up</a>

                </div>
            </div>
        </div>
    </div>

</div>

<%- include("./partials/footer.ejs") %>