<%- include("./partials/headers/cdn.ejs") %>

<div class="m-6 container">
    
    <div class="jumbotron my-3">
        <h1 class="text-center center display-4">You are not authorized!</h1>
    </div>
</div>