<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/main.css">
<title>Sign Up</title>

<%- include("./partials/headers/navbar.ejs") %>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card p-3 shadow-lg my-3 mx-auto">
                <div class="card-body">
                    <h2 class="card-title text-center font-weight-light">Sign Up</h2>

                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg rounded-pill mt-4" type="text" id="signupName" name="username"
                                placeholder="Username">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg rounded-pill mt-3" type="email" id="signupEmail" name="email"
                                placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg rounded-pill" type="password" id="signupPassword" name="password"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary w-100 my-2 rounded-pill"
                            id="signupButton">Sign Up</button>
                    </form>

                    <hr>

                    <a href="/login" class="btn btn-lg btn-danger w-100 rounded-pill my-2" id="loginButton">Login</a>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>