<%- include("./partials/headers/cdn.ejs") %>

<link rel="stylesheet" href="/stylesheets/main.css">
<title>Thankyou</title>

</head>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">Thankyou for shopping with us!</h1>
            <p class="lead">Your order will be fulfilled shortly.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="/featured" role="button">Visit to site</a>
        </div>
    </div>


</body>