body {
    background: linear-gradient(to right, #514A9D, #24C6DC);
}

#productImg{
    height: 8rem;
    width: auto;
}

@media screen and (min-width:768px){
    .zoom{
        transition: transform .3s;
    }
}

@media screen and (min-width:768px){
    .zoom:hover {
        transition: transform .2s;
        transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
    }
}




