body{
    background: linear-gradient(to right, #514A9D, #24C6DC);
}

#loginUsername, #loginPassword, #signupName, #signupEmail, #signupPassword{
    font-size: large;
    font-weight: lighter;
}

#loginButton, #signupButton{
    font-size: large;
    font-weight: lighter;
}

.btn:focus {
      box-shadow: none !important;
}

@media screen and (min-width:768px){
    .zoom{
        transition: transform .3s;
    }
}

@media screen and (min-width:768px){
    .zoom:hover {
        transition: transform .2s;
        transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
    }
}


.my-footer-class{
    position: fixed;
    bottom:0;
    width:100%;
}
